@import '~antd/dist/antd.css';
.homePageCard.ant-card-head{
    padding: 15px;
    width: auto;
    height: auto;
    display: flex;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    font-weight: bolder;
}
.homePageCard .ant-card-head :hover{
    font-style: italic;
    color: red;
}
.homePageCard.ant-card-body :hover{
    font-weight: bold;
}