.gameDetailPageWrapper{
    max-width: 900px;
  margin: auto;
}

.gameDetailWrapper {
  display: flex;

}
.gameDetailSide {
}
.gameDetailContent {
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
