.logo, .navList{
    padding-top: 5vh;
}
.guppyNav{
    margin: 0;
    padding: 0;
    top: 0;
    height: 5vh;
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.guppyLogo{
    width: 12vh;
    padding: 2vh;
}
.logo{
    width: 50%;
}
.navList{
   width: 50%;
}
.navbarItems{
    list-style: none;
    padding-right: 5vh;
}
.navbarItems li{
    display: inline;
    float: right;
    padding-left: 2vh;
    padding-right: 2vh;
}