@import '~antd/dist/antd.css';


.App{
    height: 90vh;
    display: block;
}

.appNavbar{
    display: block;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 25px;
}
.switches{
    display: block;
}
.homePageDiv{
    display: flex;
    
    margin-top: 50px;
}
.footer-wrap{
    padding-top: 10px;

    left: 0;
    bottom: 0;
    width: 100%;
}